<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-firestore.js"></script>
</head>
<body>
    <div class="heading">
        <h1>Happy birthday!</h1>
    </div>
    <div class="name"></div>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyBCR_LIMwUvoNV6_r0MhOzX3e1Eaver5oI",
        authDomain: "pals---birthday-template.firebaseapp.com",
        projectId: "pals---birthday-template",
        storageBucket: "pals---birthday-template.appspot.com",
        messagingSenderId: "828046318515",
        appId: "1:828046318515:web:379bf7385e81d0240409c6",
        measurementId: "G-BV22EK34VZ"
      };
      firebase.initializeApp(firebaseConfig)
      const db = firebase.firestore()
      db.settings({timestampsInSnapshots: true})
      </script>
      <script src="PALS_BirthdayTemplate/templates/template.js"></script>
</body>
</html>
